<article class="post">
  <header>
    <h2 class="post__title">
      Lorem ipsum dolor sit amet.
    </h2>
  </header>
  <div class="post__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat iste est quam eos dolor deleniti eum at alias
    numquam unde tenetur sit, vero magni animi suscipit cumque explicabo laudantium recusandae iure! Alias excepturi
    optio nam a dolorem laboriosam hic expedita iste quo voluptates. Libero ut id quae sequi, beatae sit.
  </div>
</article>